$grid-columns: 12;

$xs: 480;
$sm: 768;
$md: 992;
$lg: 1200;

@mixin span($columns, $grid-columns: $grid-columns) {
  flex-basis: percentage($columns / $grid-columns);
}

@mixin grid($width, $columns: 4, $grid-columns: $grid-columns) {
  @if $width == $xs {
    .grid[max-width~="#{$width - 1}px"] & {
      @include span($columns, $grid-columns)
      padding: 10px;
      @content
    }
  }
  .grid[min-width~="#{$width}px"] & {
    @include span($columns, $grid-columns)
    padding: 10px;
    @content
  }
}

@mixin query($breakpoints...) {
  @each $width in $breakpoints {
    @if $width == $xs {
      &[max-width~="#{$width - 1}px"] {
        @content
      }
    }
    &[min-width~="#{$width}px"] {
      @content
    }
  }
}
